---
import type { HTMLAttributes } from "astro/types";
import { buttonVariants, type ButtonVariant, type ButtonSize } from "@/components/ui/button";

interface Props extends HTMLAttributes<"a"> {
  variant?: ButtonVariant;
  size?: ButtonSize;
  href: string;
  class?: string;
}

const {
  variant = "ghost",
  size = "icon-sm",
  href,
  class: className,
  ...rest
} = Astro.props as Props;
---

<a
  data-slot="link-button"
  class={buttonVariants({ variant, size, className })}
  href={href}
  {...rest}
>
  <slot />
</a>
